.wrapper {
  display: flex;
  flex-direction: row; /* main + sidebar horizontally */
  gap: 2rem;           /* optional space between main and sidebar */
}

.main {
  flex: 80%;             /* main block takes 2 parts */
}

.sider {
  flex: 20%;             /* sidebar takes 1 part */
}
